:root{ 
    --font-family: Poppins;
}
nav{ 
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    background-color: rgb(234, 238, 240);
} 
nav>ul{
    display: flex; 
    list-style: none;

} 
nav ul li{ 
    text-decoration: none; 
    padding: 20px 15px; 
    color: #333333;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500; 
cursor: pointer;
}
.nav-title{ 
    color: #3A3A3A;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
} 
.banner{ 
    height: 60vh;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    background-color: rgb(244, 245, 247);
    
} 
.banner-content{ 
  width: 40%; 
    } 
    .banner-title{ 
        color: #484747;
font-family: Poppins;
font-size: 50px;
font-weight: 600;
line-height: 70px;
    } 
    .banner-description{ 
        color: #3A3A3A;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 550;
line-height: normal;
    }
.banner-img{ 

    background-image: url(./images/Circle\ design.svg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 350px;
    height: 350px;
     }
 .banner-btn{ 
    background-color: orangered;
    color: white; 
    font-size: 10px;
    padding: 8px 17px; 
    border-radius: 14px;
    border: none;
 }
.banner-img img{ 
    width: 100% ; 
    
} 
.sponsor{ 
    text-align: center; 
   width: 90%; 
   height: 10vh;
   margin: 0 auto;
   padding: 70px 0px;
    background-color: #fefcfc;
} 
.sponsor img{ 
    padding: 12px 20px;
}
.popular-collection{ 
    text-align: center; 
    font-size: 1.8rem;
    font-family: var(--font-family);
}
.cheaked{ 
    color: orange;
} 
.cards-container{ 
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 25px; 
    max-width: 90%;
    margin: 0 auto;
    
    justify-content: center;
} 
.card{ 
    padding: 5px 15px;
    border-radius: 10px;
   background: #FFF;
   box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15); 
} 
.card img{ 
    width: 100%;
} 
.card p{ 
    font-size: 14px;
    color: rgb(130, 129, 129);
} 
.see-more h6{ 
    color: orangered; 
   text-align: right; 
   font-size: 12px;
} 
.see-more{ 
    width: 90%; 
    margin: 0 auto; 
    cursor: pointer;
   
    
} 
.feature{ 
    width: 95%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;  
    gap: 20px;
} 
 
.feature-content{ 
    width: 55%;
   
} 
.feature-title{ 
    color: #0A0826;
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
}
.feature-description{ 
    width: 56%; 
    color: #6C6C6C;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
} 
.feature-btn{ 
    padding: 10px 30px;
    background-color: orange;
    color: rgb(11, 11, 11); 
    border: none;
    border-radius: 15px;
} 
.banner-btn i{ 
    color: #0A0826;
}  

.footer{ 
    align-items: center;
    height: 50vh; 
    width: 100%;
    margin: 0 auto;
    background-color: rgb(20, 20, 20);
    color: #FFF; 
    text-align: center; 

} 
.footer-title{ 
    font-size: 20px; 
      }
.footer-description{ 
    font-size: 12px; 
}
.footer i{ 
    padding: 5px 5px;
} 

.foot{ 
    padding-top: 100px ;
}
/* responsive style  */ 
@media  screen and (max-width:576px) {    

    nav{ 
        flex-direction: column; 
    
    }
    .banner{ 
        flex-direction: column-reverse;
        height: 100vh;

    } 
    .banner-content{ 
        width: 95%;
    }
    .cards-container{ 
        grid-template-columns: repeat(1,1fr);
    } 
    .popular-collection h2{ 
       padding-top: 55px ;
}   

  .see-more{ 
    width: 80%; 

}   
   .feature{ 
    flex-direction: column;
   } 
   .feature-img img{ 
    width: 100%; 
    margin: 0 auto;
    
   
    
  } 
  .feature-content{ 
    width: 100%;
  } 
  .feature-description{ 
    width: 80%;
  }
   
  .footer{ 
    height: 40vh; 
    margin-top: 20px;
  }
}